<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjwk.dao.RegLoginDao">
    
    
    <insert id="insertReg">
      insert into users(user_name,pass_word,email,sign,created) values(#{userName},#{passWord},#{email},sign,now())
    </insert>
    
    <select id="queryUserIsTrue" resultType="String">
     select user_name from users  where user_name =#{userName}
    </select>
    
    
    <resultMap type="com.bjwk.model.pojo.Users" id="queryPassWordIsOk">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="pass_word" property="passWord"/>
        <result column="eamil" property="email"/>
        <result column="phone" property="phone"/>
        <result column="sign" property="sign"/>
        <result column="created" property="created"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <select id="queryPassWordIsOk" resultMap="queryPassWordIsOk">
     select * from users where user_name =#{userName} and pass_word=#{passWord}
    </select>
    
    <select id="gestureLogin" resultMap="queryPassWordIsOk">
     select * from  users where user_name=#{userName}  and gesture_passWord=#{gesturePassWord}
    </select>
</mapper>       